body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #fff;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.box {
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs {
  width: 60%;
  height: 60%;
  background: #222831;
  border-radius: 50%; /* Circle shape */
  transform: scale(0.75); /* Start very small */
  transform-origin: center center;
}
