body {
  font-family: Arial, sans-serif;
  background-color: #b71717;
  margin: 0;
  padding: 0;
}

#box {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1840ef;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #99a1c4;
  border-radius: 50%;
}

#image {
  width: 60vw;
  height: 60vh;
  background-image: url("https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/12/bm-920x584.png");
  background-size: cover; 

}